/* src/styles/Navbar.css */

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 10px;
}

.navbar-left .logo {
  font-size: 24px;
  color: white;
  text-decoration: none;
}

.navbar-center {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
}

.search-container {
  position: relative;
}

.search-bar {
  width: 300px; /* Adjust width as needed */
  padding: 8px;
  border: none;
  border-radius: 4px;
  font-size: 16px; /* Adjust font size if needed */
}

.suggestions-list {
  position: absolute;
  top: 100%; /* Position directly below the search bar */
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for better visibility */
}

.suggestions-list li {
  padding: 8px;
  cursor: pointer;
  color: black;
  list-style: none; /* Remove default list styling */
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
  color: black;
}

.search-button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

/* Secondary Navbar styles */
.secondary-navbar {
  background-color: black;
  color: white;
  padding: 10px;
}

.category-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.category-item {
  position: relative;
  margin-right: 20px;
}

.category-link {
  color: white;
  text-decoration: none;
  padding: 8px;
}

.subcategory-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
  z-index: 1000;
}

.subcategory-link {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: black;
}

.subcategory-link:hover {
  background-color: #f0f0f0;
}

/* Navbar cart icon styles */
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-cart {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.cart-icon {
  font-size: 24px; /* Adjust size as needed */
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px; /* Adjust padding to make the badge smaller */
  font-size: 12px; /* Adjust font size to be smaller */
  font-weight: bold;
}